<div class="container">
    <br />
    <h2>Registrar Alquiler</h2>
  
    <form action="container" [formGroup]="alquilerForm" #registrarForm="ngForm">
      <div class="row">
        <div class="mb-3">
          <label for="personaId" class="form-label">Identificacion de la persona</label>
          <input
            validar
            type="text"
            class="form-control"
            id="personaId"
            name="personaId"
            formControlName="personaId"
            placeholder="Numero de identificacion"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 mb-3">
          <label for="cantidadDiasAlquiler" class="form-label">Cantidad de dias a alquilar</label>
          <input
            validar
            type="number"
            class="form-control"
            id="cantidadDiasAlquiler"
            name="cantidadDiasAlquiler"
            formControlName="cantidadDiasAlquiler"
            placeholder="Cuantos dias planea alquilar la motocicleta"
          />
        </div>
        <div class="col-12 mb-3">
            <div class=" form-check form-switch">
                <label for="planeaSalirDeLaCiudad" class="form-check-label">¿Planea salir de la ciudad?</label>
                <input
                type="checkbox"
                class="form-check-input"
                id="planeaSalirDeLaCiudad"
                name="planeaSalirDeLaCiudad"
                formControlName="planeaSalirDeLaCiudad"
                placeholder="Planea salir de la ciudad"
                />
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class=" form-check form-switch">
                <label for="planeaLlevarParrillero" class="form-check-label">¿Planea llevar parrillero/a?</label>
                <input
                type="checkbox"
                class="form-check-input"
                id="planeaLlevarParrillero"
                name="planeaLlevarParrillero"
                formControlName="planeaLlevarParrillero"
                placeholder="Planea llevar parrilero/a"
                />
            </div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button
          [disabled]="!registrarForm.form.valid"
          id="guardar"
          class="btn btn-dark"
          type="submit"
          (click)="onSubmit()"
        >
          Guardar
        </button>
      </div>
    </form>
</div>